<%= link_to "Add a task", new_task_path %>

<ul> <% @tasks.each do |task|%>
  <li><h2><%= link_to task.name, task_path(task)  %></h2></li>
  <p><%= task.due_date %></p>
  <p><%= task.check %></p>

<%end%>
</ul>

